<p>
    <mat-toolbar color="primary">
        <span>Módulo de análisis y reporte RPCF</span>
    <div class="spacer"></div>
    <a mat-button routerLink=''>Inicio</a>
    <a mat-button routerLink='search'>Búsqueda avanzada</a>
    <button mat-button [matMenuTriggerFor]="menu" >Reportes generales</button>
    <mat-menu  #menu="matMenu">
        <button mat-menu-item routerLink='group-reports'>Temáticas por grupo de inv.</button>
        <!-- <button mat-menu-item routerLink='researcher-reports'>Temáticas por Investigador</button> -->
        <button mat-menu-item routerLink='productivity'>Productividad general</button>
    </mat-menu>
        <a mat-button routerLink='admin'>Modulo administrativo</a>
    </mat-toolbar>
</p>
<!--routerLink='group-reports'-->
