<mat-card class="search-card">
    <mat-card-title class="card-title">Busqueda avanzada</mat-card-title>
    <mat-form-field class="input">
        <mat-label>Título de la temática</mat-label>
        <input matInput #temathic>
    </mat-form-field>

    <!--   PRODUCT TYPE -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo de producto</mat-label>
      <mat-select #productTypeSelected>
        <mat-option *ngFor="let definition of productDefinitions" [value]="definition.name">
          {{definition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--    GROUP NAME -->
    <mat-form-field appearance="fill">
      <mat-label>Grupo de inv.</mat-label>
      <mat-select [(value)]="selectedGroupLacCode"  #groupSelected (selectionChange)="onChangeGroup()"  >
        <mat-option *ngFor="let definition of gruplacDefinitions" [value]="definition.code">
          {{definition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- RESEARCHERS    -->
    <mat-form-field appearance="fill">
      <mat-label>Investigador</mat-label>
      <mat-select [disabled]=disableResearchers #researcherSelected>
        <mat-option *ngFor="let researcher of researchers" [value]="researcher.id">
          {{researcher.names}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Seleccione año de inicio:</mat-label>
        <mat-select [(ngModel)]="startDate">
            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Seleccione año de fin:</mat-label>
        <mat-select [(ngModel)]="endDate">
            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
    </mat-form-field>
<!--
    <picker></picker>
    &lt;!&ndash; STAR DATE    &ndash;&gt;
    <mat-form-field appearance="fill" class="date-input">
      <mat-label>Fecha inicio de búsqueda</mat-label>
      <input matInput [matDatepicker]="picker" #startDate>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    &lt;!&ndash; END DATE    &ndash;&gt;
    <mat-form-field appearance="fill" class="date-input">
      <mat-label>Fecha fin de búsqueda</mat-label>
      <input matInput [matDatepicker]="pick" #endDate>
      <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
      <mat-datepicker #pick></mat-datepicker>
    </mat-form-field> -->

    <button (click)="captureData(
    temathic.value,
    productTypeSelected.value,
    groupSelected.value,
    researcherSelected.value,
    startDate,
    endDate)" mat-raised-button color="primary">Buscar</button>
</mat-card>



<div id="graph-render" *ngIf="displayGraphicsAndResults">
    <app-results-advanced-search [products]="products"></app-results-advanced-search>
<!--  <app-barchart-authors-and-products></app-barchart-authors-and-products>-->
    <app-barchart-group-and-products [reportList]="gruplacProductsQueryList"></app-barchart-group-and-products>
</div>

