<mat-card class="search-card">
    <mat-card-title class="card-title">Busqueda avanzada</mat-card-title>
    <mat-form-field class="input">
        <mat-label>Título de la temática</mat-label>
        <input matInput #temathic>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de producto</mat-label>
      <mat-select #productTypeSelected>
        <mat-option *ngFor="let definition of productDefinitions" [value]="definition.id">
          {{definition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Grupo de inv.</mat-label>
      <mat-select #groupSelected>
        <mat-option *ngFor="let definition of gruplacDefinitions" [value]="definition.id">
          {{definition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Investigador</mat-label>
      <mat-select #researcherSelected>
        <mat-option *ngFor="let researcher of researchers" [value]="researcher.id">
          {{researcher.names}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="date-input">
      <mat-label>Fecha inicio de búsqueda</mat-label>
      <input matInput [matDatepicker]="picker" #startDate>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="date-input">
      <mat-label>Fecha fin de búsqueda</mat-label>
      <input matInput [matDatepicker]="pick" #endDate>
      <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
      <mat-datepicker #pick></mat-datepicker>
    </mat-form-field> 
  <button (click)="captureData(temathic.value, productTypeSelected.value, groupSelected.value, researcherSelected.value, startDate.value, endDate.value)" mat-raised-button color="primary">Buscar</button>
</mat-card>
<app-barchart-authorsvsproducts></app-barchart-authorsvsproducts>
<app-barchart-groupvsproducts></app-barchart-groupvsproducts>