<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1 class="text-center">Bienvenido "User"</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="col-12">
                        <h3>A continuación podrá ejecutar el proceso de recolección de productos de investigación de los grupos adscritos al Instituto de Investigación e Innovación I3+</h3>
                    </div>
                    <div class="col-12">
                        <h2>Ejecutar ahora</h2>
                        <button mat-raised-button color="primary" (click)="runScrapping()">Ejecutar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
